@import "colors";

footer {
    width: 100%;
    height: 20px;
    background-color: $first;
    display: grid;
    grid-template-columns: 4fr 1fr;
    color: $dark;
    padding: 2rem;

    >div {
        display: flex;
        flex-direction: column;
        justify-content: center;

        >h1 {
            font: 700 2em $text1;
            text-transform: uppercase;
            color: $third;
        }
        >p {
            font : 500 1.2rem $text1;
            color: $third;
        }
        >h5 {
            font: 300 1.2rem $text1;
            margin: 1rem 0;
            align-items: center;
        }
        >div {
            display: flex;
            flex-direction: column;
            text-align: center;
            
        >a {
            font: 300 1.2rem $text2;
            color:$dark;
            &:hover{
                color:$third;
            }
        }
        }
    }
}